@import 'reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');


.game {
    
    padding: 20px 0;
	&__container { 
        position: relative;
        overflow: hidden;
        transition: 0.5s;
    }
	&__title { 
        font-size: 70px;
        text-align: center;
        margin-bottom: 10px;
    }
	&__info { 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
	
	&__controls { 
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
	&__button { 
        background-color: black;
        color: white;
        font-size: 40px;
        padding: 10px 20px;
        min-width: 100px;
        border-radius: 5px;

        
    }
	&__board { 
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 500px;
    }
}
.settings {
    display: flex;
    align-items: center;
    justify-content: center;
}
.status {
	&__text { 
        font-size: 40px;
        line-height: 120%;
    }
}
.settings__modal {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    right: 15px;
    top: 170px;
    z-index: 5;
    transition: 0.8s;

    &.hide {
        top: 90px;
        transition:  0.8s;
        z-index: -5;
        visibility: hidden;
        opacity: 0;
    }
}
.setting {
	
	&__label { 
        margin-bottom: 10px;
    }
	
}
.options {
    display: flex;
    gap: 20px;
	
}

.result {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.5);
    z-index: 10;

    &.hide {
        display: none;
        opacity: 0;
    }

	&__modal { 
        background: white;
        border-radius: 5px;
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
	&__title { 
        text-align: center;
        font-size: 70px;
        margin-bottom: 20px;
    }
	&__info { 
        font-size: 50px;
        line-height: 150%;
        margin-bottom: 30px;
        text-align: center;
    }
	
	
    &__button {
        background: #000000;
        color: white;
        font-size: 30px;
        padding: 10px;
        min-width: 100px;
        border-radius: 5px;
    }
}


.hole {
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;

    &::after {
        display: block;
        background: url(/svg/dirt.svg) bottom center no-repeat;
        background-size: contain;
        content: '';
        width: 100%;
        height: 70px;
        position: absolute;
        z-index: 2;
        bottom: -30px;
      }

      &.up .mole {
        bottom: 0;
        transition: 0.5s;
      }
  }
  
  
.mole { 
    background: url(/svg/mole.svg) bottom center no-repeat;
    background-size: contain;
    width: 100%;
    height: 130px;
    position: absolute;
    bottom: -100%;
    transition: 0.5s;
}





//FOOTER
.footer {
    background-color: black;
    padding: 15px 0px;
  &__container { 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  }
  .copyright {
  &__list { 
        display: flex;
        justify-content: space-between;
    }
  &__item,
    &__link { 
        color: white;
        font-size: 25px;
        transition: .5s;
    }
    &__item {
        &:not(:last-child) {
            margin-right: 15px;
        }
    }
    &__link:hover {
        color: yellow;
        transition: .5s;
    }
  }
  .rsschool { 
        width: 135px;
        height: 50px;
        
    &__logo {
        transition: .5s;
        img {
            max-width: 100%;
        }
    }
  }